<ion-view view-title="MSent" class="logged-out"
          can-swipe-back=false
          hide-back-button=false
          hide-nav-bar=true
          cache-view=false>

  <ion-content scroll="false" drag-content="false">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page class="slide-main">
        <div class="padding vcenter">

          <div class="ui aligned center">
            <span class="logo-font light">MSent</span>
          </div>

          <br/>
          <h5 class="padding ui aligned center light">
            Nam eget quam eget tortor tempor interdum.
          </h5>
          <br/>

          <div class="row">
            <div class="col col-50">
              <button class="fluid ui primary inverted button"
                      ng-click="openLogin()">Login</button>
            </div>
            <div class="col col-50">
              <button class="fluid ui secondary button"
                      ng-click="openSignup()">Signup</button>
            </div>
          </div>
        </div>
      </ion-slide-page>

      <ion-slide-page class="slide-other">
        <div class="padding">

          <h3 class="ui aligned center">About</h3>

          <p>
  Nunc lobortis dignissim lorem. Curabitur quis libero ultricies, tempor nunc sed, condimentum metus. Sed porta facilisis tempus. Sed eget leo pellentesque, feugiat ex laoreet, interdum elit.
          </p>

          <p> Quisque mattis, tortor et varius vehicula, arcu nunc auctor ipsum, quis accumsan lacus leo molestie ex. Quisque sollicitudin sem arcu, sed auctor ante molestie ut.
          </p>
          <p> Aliquam vehicula elementum ante, et placerat velit viverra vel.  </p>
        </div>
      </ion-slide-page>


      <ion-slide-page class="slide-other">
        <div class="padding">
          <h3 class="ui aligned center">Pricing</h3>
          <p>
  Nunc lobortis dignissim lorem. Curabitur quis libero ultricies, tempor nunc sed, condimentum metus. Sed porta facilisis tempus. Sed eget leo pellentesque, feugiat ex laoreet, interdum elit.
          </p>
          <p> Quisque mattis, tortor et varius vehicula, arcu nunc auctor ipsum, quis accumsan lacus leo molestie ex. Quisque sollicitudin sem arcu, sed auctor ante molestie ut.
          </p>
          <p> Aliquam vehicula elementum ante, et placerat velit viverra vel.  </p>
        </div>
      </ion-slide-page>


      <ion-slide-page class="slide-other">
        <div class="padding">
          <h3 class="ui aligned center">Frequently Asked Questions</h3>
          <p>
  Nunc lobortis dignissim lorem. Curabitur quis libero ultricies, tempor nunc sed, condimentum metus. Sed porta facilisis tempus. Sed eget leo pellentesque, feugiat ex laoreet, interdum elit.
          </p>
          <p> Quisque mattis, tortor et varius vehicula, arcu nunc auctor ipsum, quis accumsan lacus leo molestie ex. Quisque sollicitudin sem arcu, sed auctor ante molestie ut.
          </p>
          <p> Aliquam vehicula elementum ante, et placerat velit viverra vel.  </p>
        </div>
      </ion-slide-page>


      <ion-slide-page class="slide-other">
        <div class="padding">
          <h3 class="ui aligned center">Contact Us</h3>
          <p>
  Nunc lobortis dignissim lorem. Curabitur quis libero ultricies, tempor nunc sed, condimentum metus. Sed porta facilisis tempus. Sed eget leo pellentesque, feugiat ex laoreet, interdum elit.
          </p>
          <p> Quisque mattis, tortor et varius vehicula, arcu nunc auctor ipsum, quis accumsan lacus leo molestie ex. Quisque sollicitudin sem arcu, sed auctor ante molestie ut.
          </p>
          <p> Aliquam vehicula elementum ante, et placerat velit viverra vel.  </p>
        </div>
      </ion-slide-page>

      <ion-slide-page class="slide-main">
        <div class="padding vcenter">

          <div class="ui aligned center">
            <span class="logo-font light">MSent</span>
          </div>

          <br/>
          <h5 class="padding ui aligned center light">
            Nam eget quam eget tortor tempor interdum.
          </h5>
          <br/>

          <div class="row">
            <div class="col col-50">
              <button class="fluid ui primary inverted button"
                      ng-click="openLogin()">Login</button>
            </div>
            <div class="col col-50">
              <button class="fluid ui secondary button"
                      ng-click="openSignup()">Signup</button>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
