<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">{{modalTitle}}</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Full Name</span>
        <input type="text" placeholder="Joe Example">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Prison State
        </div>
        <select>
          <option>Federal</option>
          <option selected>Alabama</option>
          <option>Alaska</option>
          <option>Arizona</option>
          <option>Arkansas</option>
          <option>California</option>
          <option>Colorado</option>
          <option>Connecticut</option>
          <option>Delaware</option>
          <option>Florida</option>
          <option>Georgia</option>
          <option>Hawaii</option>
          <option>Idaho</option>
          <option>Illinois</option>
          <option>Indiana</option>
          <option>Iowa</option>
          <option>Kansas</option>
          <option>Kentucky</option>
          <option>Lousiana</option>
          <option>Maine</option>
          <option>Maryland</option>
          <option>Massachusetts</option>
          <option>Michigan</option>
          <option>Minnesota</option>
          <option>Mississippi</option>
          <option>Missouri</option>
          <option>Montana</option>
          <option>Nebraska</option>
          <option>Nevada</option>
          <option>New Hampshire</option>
          <option>New Jersey</option>
          <option>New Mexico</option>
          <option>New York</option>
          <option>North Carolina</option>
          <option>North Dakota</option>
          <option>Ohio</option>
          <option>Oklahoma</option>
          <option>Oregon</option>
          <option>Pennsylvania</option>
          <option>Rhode Island</option>
          <option>South Carolina</option>
          <option>South Dakota</option>
          <option>Tennessee</option>
          <option>Texas</option>
          <option>Utah</option>
          <option>Vermont</option>
          <option>Virginia</option>
          <option>Washington</option>
          <option>West Virginia</option>
          <option>Wisconsin</option>
          <option>Wyoming</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Prisoner ID</span>
        <input type="text" placeholder="12345">
      </label>
      <a class="item positive padding ui aligned center" href="#" onclick="window.open('https://www.bop.gov/inmateloc/', '_system', 'location=yes'); return false;">
        Don't know your contact's prisoner ID number?
      </a>
      <a class="item item-avatar item-stacked-label dark" ng-click="editAvatar()">
        <img src="{{img || 'img/default_avatar.png'}}">
        <h2 class="ui aligned center dark" style="margin-top: 10px;">Tap to change contact image.</h2>
      </a>
      <br>
      <button class="ui button fluid primary">{{modalButtonText}}</button>
    </div>
  </ion-content>
</ion-modal-view>
